In [59]:
import numpy as np
import pandas as pd
import warnings
import os
warnings.filterwarnings('ignore')

try:
    os.makedirs("../data/postgres")
except:
    pass

def clean_campaigns(df):
    df['total_count'] = df['total_count'].astype('object')
    df['hour_limit'] = df['hour_limit'].astype('object')
    df['subject_length'] = df['subject_length'].astype('object')
    df['position'] = df['position'].astype('object')
    
    for i, row in df.iterrows():
        if not pd.isna(row['total_count']):
            df.at[i,'total_count'] = int(row['total_count'])
        if not pd.isna(row['hour_limit']):
            df.at[i,'hour_limit'] = int(row['hour_limit'])
        if not pd.isna(row['subject_length']):
            df.at[i,'subject_length'] = int(row['subject_length'])
        if not pd.isna(row['position']):
            df.at[i,'position'] = int(row['position'])
        if pd.isna(row['ab_test']):
            df.at[i,'ab_test'] = False
            
    df.to_csv("../data/postgres/campaigns.csv", index=False)
    return df

campaigns_df = pd.read_csv("../data/campaigns.csv")
campaigns_cleaned_df = clean_campaigns(campaigns_df)
campaigns_cleaned_df.head()

,id,campaign_type,channel,topic,started_at,finished_at,total_count,ab_test,warmup_mode,hour_limit,subject_length,subject_with_personalization,subject_with_deadline,subject_with_emoji,subject_with_bonuses,subject_with_discount,subject_with_saleout,is_test,position
0,63,bulk,mobile_push,sale out,2021-04-30 07:22:36.615023,2021-04-30 07:23:41,48211,False,False,NaN,146,False,False,True,False,False,False,NaN,NaN
1,64,bulk,mobile_push,sale out,2021-04-30 09:02:50.817227,2021-04-30 09:04:08,1037337,False,False,NaN,97,False,False,True,False,False,False,NaN,NaN
2,78,bulk,mobile_push,sale out,2021-05-06 07:14:10.533318,2021-05-06 07:15:17,70080,False,False,NaN,146,False,False,True,False,False,False,NaN,NaN
3,79,bulk,mobile_push,sale out,2021-05-06 09:03:56.486750,2021-05-06 09:42:15,921838,False,False,NaN,97,False,False,True,False,False,False,NaN,NaN
4,89,bulk,mobile_push,NaN,2021-05-07 11:54:06.168664,2021-05-07 11:54:38,45503,False,False,NaN,109,False,True,True,False,False,False,NaN,NaN

Now when we parsed data in correct format, let's remove duplicate data and other stuff

In [48]:
messages_df = pd.read_csv("../data/messages.csv")
messages_df

,id,message_id,campaign_id,message_type,client_id,channel,category,platform,email_provider,stream,...,is_complained,complained_at,is_blocked,blocked_at,is_purchased,purchased_at,created_at,updated_at,user_device_id,user_id
0,3531179,07361d7b-3cf3-4ff4-be1b-a4286eff6be0,54,transactional,1515915625468156502,email,NaN,NaN,list.ru,desktop,...,f,NaN,f,NaN,t,2021-05-06 11:58:00,2023-04-27 08:55:11.384771,2023-04-27 08:57:37.729439,2,546815650
1,3531631,01f933c0-8c81-4f30-a0e0-f0dca013e5d5,179,transactional,1515915625488253422,email,NaN,NaN,mail.ru,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 08:55:12.124013,2023-04-27 08:57:54.447534,2,548825342
2,3528953,6d5f75b3-4f1d-47b0-aebb-61f4dfd74a16,32,transactional,1515915625495175157,email,NaN,NaN,gmail.com,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 08:55:08.164053,2023-04-27 09:06:03.134045,7,549517515
3,3532361,3aa317fc-8750-4781-92ce-38e51dff2438,179,transactional,1515915625549480744,email,NaN,NaN,gmail.com,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 08:55:13.201113,2023-04-27 09:09:10.590255,4,554948074
4,3523000,7f9dbbf1-0705-4f5a-aca8-dc2ec9cdf4c8,27,transactional,1515915625542297753,email,NaN,NaN,mail.ru,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 08:54:59.542414,2023-04-27 09:25:19.813909,3,554229775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2997907,20161167,448de1a3-d0df-4ace-8e2c-e94a51e52aff,18212,trigger,1515915625473161245,email,NaN,NaN,mail.ru,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 20:35:41.690787,2023-04-27 20:35:41.691451,5,547316124
2997908,20161218,2f6d99d2-eb4f-4cad-a539-052ba0ea6fcb,18212,trigger,1515915625473334423,email,NaN,NaN,mail.ru,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 20:35:41.76276,2023-04-27 20:35:41.763412,3,547333442
2997909,20161256,70fe2b4c-a0eb-4f5f-a2da-a424b2e12fff,18011,trigger,1515915625473478260,email,NaN,NaN,gmail.com,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 20:35:41.814625,2023-04-27 20:35:41.815385,0,547347826
2997910,20161272,166b845d-a6dd-436c-bf78-8c9945a7ffb6,18012,trigger,1515915625473509082,email,NaN,desktop,mail.ru,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 20:35:41.839856,2023-04-27 20:36:40.046629,2,547350908
2997911,20161301,08a1a889-21c8-4283-84b2-d014fca7d9c6,18010,trigger,1515915625473559677,email,NaN,NaN,yandex.ru,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 20:35:41.880391,2023-04-27 20:35:41.881215,7,547355967

In [49]:
messages_df['category'].unique()

array([nan])

In [50]:
messages_df['message_id'].nunique()

2997912

In [51]:
messages_df['id'].nunique()

2997912

First of all, let's remove/migrate information from messages file such columns:
- `user_id`, `user_device_id`, `email_provider` - depends on client_id and should be located in clients_first_purchase_date (let's call it clients table)
- `category` - only null values and we have no description about it
- `id` - since we already have unique `message_id` might be dropped

I wanted also to move channel to campaign, but since there is multichannel for some campaings i wont do it.

In [52]:
def get_clients_info_from_messages(df):
    clients = df[['client_id', 'user_id', 'user_device_id', 'email_provider']]
    ans = {}
    for i, row in clients.iterrows():
        if (row['client_id'], row['user_id'], row['user_device_id']) in ans and pd.isna(ans[(row['client_id'], row['user_id'], row['user_device_id'])]):
            if not pd.isna(row['email_provider']):
                ans[(row['client_id'], row['user_id'], row['user_device_id'])] = row['email_provider']
        else:
            ans[(row['client_id'], row['user_id'], row['user_device_id'])] = row['email_provider']
        
    return ans

clients_from_mes_df = get_clients_info_from_messages(messages_df)
len(clients_from_mes_df)

1006068

In [53]:
clients_df = pd.read_csv("../data/client_first_purchase_date.csv")
clients_df_dict = clients_df.set_index(['client_id', 'user_id', 'user_device_id']).to_dict()['first_purchase_date']
len(clients_df_dict)

174802

In [54]:
keys = set(clients_from_mes_df.keys())
for k in list(clients_df_dict.keys()):
    keys.add(k)
len(keys)

1075709

In [55]:
rows = []
for k in keys:
    row = {"client_id":k[0],"user_id":k[1],"user_device_id":k[2]}
    if k in clients_from_mes_df:
        row["email_provider"] = clients_from_mes_df[k]
    else:
        row["email_provider"] = np.nan

    if k in clients_df_dict:
        row["first_purchase_date"] = clients_df_dict[k]
    else:
        row["first_purchase_date"] = np.nan
    rows.append(row)
fin_clients = pd.DataFrame(rows)
fin_clients

,client_id,user_id,user_device_id,email_provider,first_purchase_date
0,1515915625613720314,561372031,4,NaN,NaN
1,1515915625501948219,550194821,9,bk.ru,NaN
2,1515915625486950701,548695070,1,mail.ru,NaN
3,1515915625490030546,549003054,6,gmail.com,NaN
4,1515915625501338972,550133897,2,mail.ru,NaN
...,...,...,...,...,...
1075704,1515915625554348961,555434896,1,mail.ru,NaN
1075705,1515915625540311937,554031193,7,NaN,NaN
1075706,1515915625488174316,548817431,6,mail.ru,2023-09-16
1075707,1515915625487281383,548728138,3,mail.ru,NaN
1075708,1515915625489849614,548984961,4,yandex.ru,2023-05-03

In [60]:
fin_clients.to_csv("../data/postgres/clients.csv", index=False)

In [61]:
def clean_messages(df):
    df = df.drop(columns=['user_id', 'user_device_id', 'email_provider', 'category', 'id'])
    df.to_csv("../data/postgres/messages.csv", index=False)
    return df

cleaned_messages_df = clean_messages(messages_df)
cleaned_messages_df

,message_id,campaign_id,message_type,client_id,channel,platform,stream,date,sent_at,is_opened,...,is_soft_bounced,soft_bounced_at,is_complained,complained_at,is_blocked,blocked_at,is_purchased,purchased_at,created_at,updated_at
0,07361d7b-3cf3-4ff4-be1b-a4286eff6be0,54,transactional,1515915625468156502,email,NaN,desktop,2021-04-30,2021-04-30 15:06:07,t,...,f,NaN,f,NaN,f,NaN,t,2021-05-06 11:58:00,2023-04-27 08:55:11.384771,2023-04-27 08:57:37.729439
1,01f933c0-8c81-4f30-a0e0-f0dca013e5d5,179,transactional,1515915625488253422,email,NaN,desktop,2021-04-30,2021-04-30 09:22:09,t,...,f,NaN,f,NaN,f,NaN,f,NaN,2023-04-27 08:55:12.124013,2023-04-27 08:57:54.447534
2,6d5f75b3-4f1d-47b0-aebb-61f4dfd74a16,32,transactional,1515915625495175157,email,NaN,desktop,2021-04-30,2021-04-30 04:15:44,t,...,f,NaN,f,NaN,f,NaN,f,NaN,2023-04-27 08:55:08.164053,2023-04-27 09:06:03.134045
3,3aa317fc-8750-4781-92ce-38e51dff2438,179,transactional,1515915625549480744,email,NaN,desktop,2021-04-30,2021-04-30 08:40:29,t,...,f,NaN,f,NaN,f,NaN,f,NaN,2023-04-27 08:55:13.201113,2023-04-27 09:09:10.590255
4,7f9dbbf1-0705-4f5a-aca8-dc2ec9cdf4c8,27,transactional,1515915625542297753,email,NaN,desktop,2021-04-30,2021-04-30 19:17:15,t,...,f,NaN,f,NaN,f,NaN,f,NaN,2023-04-27 08:54:59.542414,2023-04-27 09:25:19.813909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2997907,448de1a3-d0df-4ace-8e2c-e94a51e52aff,18212,trigger,1515915625473161245,email,NaN,desktop,2021-06-14,2021-06-14 18:40:28,f,...,f,NaN,f,NaN,f,NaN,f,NaN,2023-04-27 20:35:41.690787,2023-04-27 20:35:41.691451
2997908,2f6d99d2-eb4f-4cad-a539-052ba0ea6fcb,18212,trigger,1515915625473334423,email,NaN,desktop,2021-06-14,2021-06-14 08:51:41,f,...,f,NaN,f,NaN,f,NaN,f,NaN,2023-04-27 20:35:41.76276,2023-04-27 20:35:41.763412
2997909,70fe2b4c-a0eb-4f5f-a2da-a424b2e12fff,18011,trigger,1515915625473478260,email,NaN,desktop,2021-06-14,2021-06-14 19:45:09,f,...,f,NaN,f,NaN,f,NaN,f,NaN,2023-04-27 20:35:41.814625,2023-04-27 20:35:41.815385
2997910,166b845d-a6dd-436c-bf78-8c9945a7ffb6,18012,trigger,1515915625473509082,email,desktop,desktop,2021-06-14,2021-06-14 05:06:02,t,...,f,NaN,f,NaN,f,NaN,f,NaN,2023-04-27 20:35:41.839856,2023-04-27 20:36:40.046629
2997911,08a1a889-21c8-4283-84b2-d014fca7d9c6,18010,trigger,1515915625473559677,email,NaN,desktop,2021-06-14,2021-06-14 16:00:08,f,...,f,NaN,f,NaN,f,NaN,f,NaN,2023-04-27 20:35:41.880391,2023-04-27 20:35:41.881215

Other to tables are not changed

In [62]:
friends_df = pd.read_csv("../data/friends.csv")
friends_df.to_csv("../data/postgres/friends.csv", index=False)

events_df = pd.read_csv("../data/events.csv")
events_df.to_csv("../data/postgres/events.csv", index=False)